.navigation {
  /* background: rgba(255, 255, 255, 0.1); */
  padding: 1rem 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  margin-bottom: 2rem;
  
}

.nav-links {
  display: flex;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  text-align: right;

}

.nav-link {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
  
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}